/*---------------------*/
/*    HTML ELEMENTS    */
/*---------------------*/
body {
    background: #e9eaed ;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
   }

h1 {
    line-height: 150px;
    line-height: 100px;
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center;
}

h2 {
    color: #000000;
    font-size: 3rem;
    margin-bottom: 15px;
}

p {
    color: #000000;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

img {
    width: 350px;
    height: 200px;
}

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

header {
    background-color: rgb(27, 42, 110);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

section#drankspelletjes,
section#eigenDrankspelletje,
section#login {
    width: 80%;
    margin: 0 auto;
}

section#login, 
section#registratie {
    text-align: center;
}

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
header span {
    color: rgb(27, 42, 110);
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 30px;
}

header nav ul {
    margin-top: 40px;
}
header nav li {
    display: inline;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 150%;
    padding: 0 20px;
}

header nav li a {
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 3px solid transparent;
}

header nav li a:hover {
    border-bottom: 3px solid #FFFFFF;
}

header nav li a.active {
    border-bottom: 3px solid #FFFFFF;
}

#drankspelletjes form {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: right;
}

#drankspelletjes form label {
    text-transform: lowercase;
    margin-right: 5px;
    font-weight: bold;
    display: inline-block;
}

#drankspelletjes form input {
    display: inline-block;
    padding-left: 10px;
}

#drankspelletjes form input,
#drankspelletjes form select {
    border-radius: 10px;
    border: 1px solid rgb(27, 42, 110);
}

#drankspelletjes form input:focus,
#drankspelletjes form select:focus {
    outline: none;
}

#drankspelletjes .flexcontainer {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

#drankspelletjes article {
    position: relative;
    margin-bottom: 15px;
}

#drankspelletjes article h3 {
    position: absolute;
    top: 15px;
    text-align: right;
    background-color: rgb(27, 42, 110);
    text-shadow: 2px 2px 2px #000000;
    color: #FFFFFF;
    padding: 5px;
    font-size: 2rem;
}

#drankspelletjes article figcaption {
    font-size: 0.7rem;
    margin-bottom: 5px;
}

#drankspelletjes article .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#drankspelletjes article p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

section .explanation {
    background-color: rgb(27, 42, 110);
    color: #FFFFFF;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.5rem;
}

section .explanation:hover {
    background-color: rgb(97, 117, 204);
}

.hidden {
    display: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 45%;
    background-color: #FFF;
    border: 5px solid rgb(27, 42, 110);
    padding: 20px;
    width: 50%;
    height: 70%;
    overflow: auto; }
    #popup .close {
      color: #FFF;
      font-weight: bold;
      background-color: rgb(170, 27, 22);
      display: inline-block;
      border-radius: 23px;
      padding: 5px 10px;
      font-size: 0.8rem;
      text-decoration: none;
      position: absolute;
      right: 20px;
      top: 20px;
  
}

#popup .close:hover {
    background-color: rgb(180, 40, 40);
}

#popup article {
    display: flex;
    flex-flow: row wrap;
}

#popup article h3 {
    flex: 1 1 100%;
    margin-bottom: 15px;
    font-size: 2rem;;
    font-weight: bold;
}

#popup article figure, #popup article .mainInfo {
    margin-right: 20px;
}

#popup article .mainInfo {
    margin-right: 30px;
}

#popup article figure,
#drankspel figure {
    margin-bottom: 20px;
}

#popup article p,
#drankspel p,
#uitleg p {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

#popup article span,
#drankspel span,
#uitleg span {
    font-weight: bold;
}

#popup article a {
    margin-top: 20px;
}

#popup article ul,
#drankspel ul, 
#uitleg ul {
    list-style-type: disc;
    margin-left: 50px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#popup article li,
#drankspel li {
    margin-bottom: 10px;
}

#uitleg li {
    margin-bottom: 30px;
}

.isBlurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#drank .flexcontainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#uitleg {
    border-left: 5px solid rgb(27, 42, 110);
    margin-left: 50px;
    padding-left: 50px;
    padding-top: 60px;
}

span#login:hover {
    background-color: rgb(238, 237, 237);
    cursor: pointer;
}

section#login label,
section#registratie label {
    display: block;
    font-weight: bold;
    color: rgb(68, 68, 68);
    margin-bottom: 5px;
}

section#login input,
section#registratie input {
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid rgb(27, 42, 110);
    padding: 5px 10px;
}

section#login input:focus,
section#registratie input:focus {
    outline: none;
}

section#login input[type="submit"],
section#registratie input[type="submit"],
section#login input[type="button"],
section#registratie input[type="button"] {
    background-color: rgb(27, 42, 110);
    color: #FFFFFF;
    padding: 10px 40px;
    font-size: 1rem;
}

section#registratie input[type="submit"] {
    display: block;
}

section#login input[type="submit"]:hover,
section#registratie input[type="submit"]:hover,
section#login input[type="button"]:hover,
section#registratie input[type="button"]:hover {
    cursor: pointer;
}

section#login p,
section#registratie p {
    font-size: 1rem;
}

section#login form,
section#registratie form {
    margin-bottom: 30px;
}

section#registratie label[for="leeftijd"] {
    display: initial;
}

section#registratie label[for="foutmeldingusername"] {
    color: rgb(170, 27, 22);
}

section#registratie input[type="checkbox"] {
    background-color: #FFFFFF;
}

h2#geenAccount {
    font-size: 2rem;
}

#uitleg img {
    width: auto;
    height: auto;
}

/* --- Home --- */
